.user__wrapper {
  display: flex;
  align-items: center;
  margin-left: 28px;
}

.title__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.user__title {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(21 / 14);
  color: #000000;
}

.user__text {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(18 / 12);
  color: #757575;
}
